// ######################################################
// Welcome Page + shared styles for register & login
// ######################################################

.welcome-wrapper {
  max-width: 1400px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 10rem;

  @media (max-width: 1200px) {
    padding: 5rem;
  }

  @media (max-width: 500px) {
    padding: 4rem 2rem;
  }
}

// container around all content on welcome page
.welcome-content {
  // border: 1px solid $color-blue;
  width: 1400px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 950px) {
    width: 90%;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.welcome-logo {
  // container around logo icon and logo text
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // img icon wrapper
  &-img {
    width: 30rem;
    margin-bottom: 3rem;

    img {
      width: 100%;
    }

    @media (max-width: 1050px) {
      width: 25rem;
    }

    @media (max-width: 950px) {
      width: 18rem;
      margin-bottom: 1rem;
    }
  }

  // img text wrapper
  &-text {
    width: 50rem;
    height: 11rem;

    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1050px) {
      width: 42rem;
      height: 10rem;
    }

    @media (max-width: 500px) {
      width: 30rem;
      height: 8rem;
    }
  }
}

// welcome form
.welcome-form {
  display: flex;
  flex-direction: column;

  @media (max-width: 950px) {
    margin-bottom: 6rem;
  }

  @media (max-width: 620px) {
    margin-bottom: 3rem;
  }

  @media (max-width: 500px) {
    margin-bottom: 2rem;
  }

  // logo container
  &-img {
    width: 6.5rem;
    margin-bottom: 4rem;

    img {
      width: 100%;
    }

    @media (max-width: 500px) {
      margin-bottom: 2rem;
    }
  }
}

// ######################################################
// Register page
// ######################################################

// form to enter user information when creating account
.welcome-register-form {
  display: flex;
  flex-direction: column;
}

// error displayed by validation
.register-error {
  color: $color-blue;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2px;
}
