// variables specific to the main layout
$padding-lrg: 50px;
$padding-med: 35px;
$padding-sml: 20px;

$nav-height: 60px;

$left-sidebar-width: 275px;
$left-sidebar-width-small: 100px;

$right-sidebar-width: 325px;
$right-sidebar-width-sml: 250px;

// top nav bar
.navbar {
  width: 100%;
  height: $nav-height;
  background-color: $color-background-medium;
  position: fixed;
  top: 0;
  display: none;

  // show nav at top
  @media (max-width: 740px) {
    display: block;
  }
}

// wrapper around entire content - excluding top nav
.main-wrapper {
  padding: $padding-lrg;

  @media (max-width: 1300px) {
    padding: $padding-med;
  }

  @media (max-width: 850px) {
    padding: $padding-sml;
  }
}

// grid encompassing the 3 columns
.layout {
  display: grid;
  grid-template-columns: $left-sidebar-width auto $right-sidebar-width;
  gap: $padding-lrg;
  margin: 0 auto;

  max-width: 1400px;

  // reduce size of first column
  @media (max-width: 1350px) {
    grid-template-columns: $left-sidebar-width-small auto $right-sidebar-width;
  }

  // reduce grid gap
  @media (max-width: 1300px) {
    gap: $padding-med;
  }

  // reduce size of third column
  @media (max-width: 1150px) {
    grid-template-columns: $left-sidebar-width-small auto $right-sidebar-width-sml;
  }

  // reduce third column
  @media (max-width: 1050px) {
    grid-template-columns: $left-sidebar-width-small auto 100px;
  }

  // remove third column
  @media (max-width: 960px) {
    grid-template-columns: $left-sidebar-width-small auto;
  }

  // reduce grid gap
  @media (max-width: 850px) {
    gap: $padding-sml;
  }

  // remove first column
  @media (max-width: 740px) {
    grid-template-columns: auto;
  }

  // make room for new top nav
  @media (max-width: 740px) {
    margin-top: $nav-height;
  }
}

// sidebar. suggested freinds etc
.layout__right-sidebar {
  position: fixed;
  width: $right-sidebar-width;
  height: 400px;
  background-color: $color-background-medium;
  border-radius: 15px;
  padding: $padding-sml;

  // reduce size of first column
  @media (max-width: 1150px) {
    width: $right-sidebar-width-sml;
  }

  // remove third column
  @media (max-width: 1050px) {
    display: none;
  }
}

// sidebar. navigation
.layout__left {
  &-container {
    height: 400px;

    // remove first column
    @media (max-width: 740px) {
      display: none;
    }
  }

  &-content {
    background-color: $color-background-medium;
    position: fixed;
    width: $left-sidebar-width;
    height: 400px;
    border-radius: 15px;
    padding: $padding-sml;

    // reduce size of first column
    @media (max-width: 1350px) {
      width: $left-sidebar-width-small;
    }

    // remove first column
    @media (max-width: 740px) {
      display: none;
    }
  }
}

// middle column. feed / profile area
.layout__main {
  height: 1000px;
  background-color: $color-background-medium;
  border-radius: 15px;
  padding: $padding-sml;
}
