// container around nav icon and heading
.left-nav-group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    color: $color-blue;
  }

  &__active {
    color: $color-blue;
  }
}

.left-nav-logo-container {
  width: 28px;
  // only specifying this height so the space is reserved as the image loads/ other wise
  // the content moves down a slit second after the image loads
  height: 22.8px;
  margin-bottom: 28px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.left-nav-heading {
  font-size: 20px;
  margin-left: 20px;

  // remove heading when column size reduces
  @media (max-width: 1430px) {
    display: none;
  }
}

.new-post {
  width: 100%;
  display: block;
  margin-bottom: 5px !important;

  // remove this button and show the mobile button defined in the ruleset below
  @media (max-width: 1430px) {
    display: none !important;
  }
}

// border / background around mobile new post icon
.new-post-btn-wrapper {
  border-radius: 50%;
  background-color: $color-blue;
  width: 50px;
  min-height: 50px;

  align-items: center;
  justify-content: center;
  display: none;

  cursor: pointer;

  @media (max-width: 1430px) {
    display: flex;
  }
}

// notification & messages badge

.badge-wrapper {
  position: relative;
}

#notification-badge,
#messages-badge {
  background-color: rgb(226, 34, 94);
  height: 23px;
  width: 23px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  visibility: hidden;
  line-height: 1;

  @media (max-width: 450px) {
    height: 19px;
    width: 19px;
    font-size: 11px;
    top: -5px;
    right: -8px;
  }

  &.active {
    visibility: visible;
  }
}
