// new message page -------------------------------------------------------

.chat-page-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  font-size: 16px;
}

.chat-title-bar {
  border-top: 1px solid $color-background-light;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 10px;

  & label {
    margin-right: 10px;
  }
}

#user-search-textbox {
  border: none;
  flex: 1;

  min-width: 310px;
  font-size: inherit;
  background-color: transparent;
  color: $color-text;
}

#user-search-textbox::-webkit-input-placeholder {
  color: $color-text-grey;
}

#user-search-textbox:-moz-placeholder {
  /* Firefox 18- */
  color: $color-text-grey;
}

#user-search-textbox::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-text-grey;
}

#user-search-textbox:-ms-input-placeholder {
  color: $color-text-grey;
}

#user-search-textbox::placeholder {
  color: $color-text-grey;
}

.results-container {
  border-top: 1px solid $color-background-light;
}

#create-chat-btn {
  margin: 20px auto;

  &:disabled {
    cursor: not-allowed;
    color: $color-blue;
    background-color: transparent;
  }
}

// label for selected users added to chat
.user-added-to-chat {
  display: inline-block;
  width: fit-content;
  border: 1px solid $color-blue;
  border-radius: 23232px;
  padding: 5px 10px;
  font-weight: 200;
  color: $color-blue;
  cursor: pointer;

  position: relative;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &::after {
    content: 'Remove';
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    display: none;
  }

  &:hover::after {
    display: block;
  }
}

// main chat lsit page

.chat-list-item {
  font-size: 16px;
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-top: 1px solid $color-background-light;
  cursor: pointer;

  &:hover {
    // background-color: $color-background-light;
  }
}

.chat-list-item-details {
  display: flex;
  flex-direction: column;
  flex: 1;

  & .heading {
    font-weight: bold;
  }

  & .subtext {
    color: $color-text-grey;
    font-size: 14px;
  }
}

.chat-list-item img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.results-image-container {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.group-chat-image img {
  height: 70%;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 2px solid $color-background-medium;

  &:first-of-type {
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
