.profile-header-container {
  & .cover-photo-container {
    height: 180px;
    width: calc(100% + 40px);

    position: relative;
    transform: translateX(-20px);
    margin-top: -20px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &.blue {
      background-color: $color-blue;
    }

    @media (max-width: 450px) {
      width: calc(100% + 20px);
      margin-top: -10px;
      transform: translateX(-10px);
      height: 140px;
    }
  }

  & .user-image-container {
    height: 132px;
    width: 132px;
    margin-left: 20px;
    position: absolute;
    bottom: -66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: $color-background-medium;

    overflow: hidden;

    @media (max-width: 450px) {
      height: 112px;
      width: 112px;
      margin-left: 10px;
    }

    & img {
      border: 3px solid $color-background-medium;
    }

    &:hover .profile-pic-btn {
      display: flex;
    }
  }

  .profile-pic-btn {
    background-color: rgba(255, 255, 255, 0);
    height: 126px;
    width: 126px;

    border-radius: 50%;

    justify-content: center;
    align-items: center;
    transition: all 0.4s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  & .profile-btns-container {
    display: flex;
    height: 66px;
    padding: 20px;
    padding-right: 0;

    & a {
      color: $color-blue;
      border: 1px solid $color-blue;
      font-size: 20px;
      padding: 8px 15px 3px 15px;
      border-radius: 100px;
      height: 37px;
      margin-left: auto;

      &:hover {
        background-color: $color-blue;
        color: $color-background-medium;
      }

      &:active {
        color: $color-background-medium;
      }
    }

    & .follow-btn {
      color: $color-blue;
      border: 1px solid $color-blue;
      background-color: $color-background-medium;
      margin-left: 20px;
      font-size: 20px;
      padding: 8px 15px;
      border-radius: 100px;
      height: 37px;
      line-height: 1;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;

      @media (max-width: 450px) {
        font-size: 14px;
      }

      &:hover {
        background-color: $color-blue;
        color: $color-background-medium;
      }

      &.following {
        background-color: $color-blue;
        color: $color-background-medium;
      }
    }
  }

  & .user-details-container {
    margin-top: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;

    @media (max-width: 450px) {
      font-size: 14px;
    }

    & .username {
      margin-left: 0;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.user-preview {
  & a {
    margin-right: 10px !important;
  }

  & span {
    margin-left: 0 !important;
  }
}

.followers-container {
  margin-bottom: 10px;
  & .value {
    font-weight: bold;
    margin-right: 5px;
    color: white;
  }

  & span:not(.value) {
    color: $color-text-grey;
  }

  & a {
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
.tabs-container {
  display: flex;
  flex-shrink: 0;
  font-size: 16px;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-text-grey;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent;

  &.active {
    color: $color-blue;
    border-bottom: 2px solid $color-blue;
  }

  &:hover {
    color: $color-blue;
    // background-color: $color-blue-light;
  }
}

// profile picture button
.profile-pic-btn {
  position: absolute;
  background-color: transparent;
  height: 65px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 65px;
  color: rgba(0, 0, 0, 0.85);
  display: flex;

  &:hover svg {
    color: rgba(0, 0, 0, 0.85);
    transform: translateY(0);
  }

  & svg {
    color: rgba(0, 0, 0, 0);
    transform: translateY(-80px);
    transition: all 0.4s;
  }
}

// cover photo button
.cover-pic-btn {
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 65px;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.4s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:hover svg {
    color: rgba(0, 0, 0, 0.85);
    transform: translateY(0);
  }

  & svg {
    color: rgba(0, 0, 0, 0);
    transform: translateY(-80px);
    transition: all 0.4s;
  }
}

.cover-photo-img-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  @media (max-width: 450px) {
    // max-width: 200px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// container around post form

.post-form-profile-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $color-background-light;
  // border-bottom: 1px solid $color-background-light;
}
