// mobile top navbar
.navbar-container {
  max-width: 600px;
  max-width: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;

  @media (max-width: 450px) {
    & svg {
      width: 0.9em !important;
      height: 0.9em !important;
    }

    & .top-nav-group-mail {
      & svg {
        stroke-width: 1.7;
      }
    }

    // & .top-nav-group-shop {
    //   & svg {
    //     stroke-width: -1;
    //   }
    // }
  }
}

.navbar {
  padding-left: 35px;
  padding-right: 35px;
  z-index: 65;
  @media (max-width: 660px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 500px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  // dropdown nav for mobile
  &-dropdown {
    transition: all 0.2s;
    z-index: 33;
    border-top: 1px solid $color-background-light;
    transform: translateY(-1px);
  }
}

.dropdown-active {
  transform: translateY(-60px);

  @media (max-width: 450px) {
    transform: translateY(-50px);
  }
}
