// ###############################################
// Welcome Page
// ###############################################

.welcome {
  &-heading {
    // main heading
    &-large {
      font-size: 4.5rem;
      font-weight: 900;

      margin-bottom: 4rem;

      @media (max-width: 620px) {
        font-size: 3.8rem;
        margin-bottom: 3rem;
      }

      @media (max-width: 400px) {
        font-size: 3.2rem;
        margin-bottom: 2.4rem;
      }
    }
    // secondary heading
    &-small {
      font-size: 2.8rem;
      font-weight: 700;
      // letter-spacing: 1px;

      margin-bottom: 1rem;

      @media (max-width: 620px) {
        font-size: 2.5rem;
      }

      @media (max-width: 400px) {
        font-size: 2rem;
      }

      // extra margin for the heading that doesnt have a link underneath
      &__main {
        margin-bottom: 3rem;

        @media (max-width: 620px) {
          margin-bottom: 2rem;
        }

        @media (max-width: 400px) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

// small text on welcome page
.welcome-text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

// home page ###########################################

// heading on middle column
.main-content-heading {
  font-size: 20px;
  margin-bottom: 20px;

  @media (max-width: 450px) {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.number-dislikes {
  font-size: 16px;
  margin-left: 3px;
  &-active {
    color: rgb(226, 34, 94);
  }
}

.number-shares {
  font-size: 16px;
  margin-left: 3px;
  &-active {
    color: rgb(22, 191, 99);
  }
}

.number-comments {
  font-size: 16px;
  &-active {
    color: rgb(29, 161, 242);
  }
}

.paragraph-text {
  font-size: 16px;
  margin-bottom: 20px;

  & .text-link {
    font-weight: 800;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.truncate-message {
  &:hover {
    text-decoration: underline;
  }
}

.blue-on-hover {
  &:hover {
    color: $color-blue;
  }
}
