// colors

$color-text: #fff;
$color-heading: #d9d9d9;
$color-blue: rgb(29, 161, 242);

$color-background: rgb(5, 5, 5);
$color-background-medium: rgb(21, 24, 28);
$color-background-light: rgb(5, 5, 5);
