// colors

$color-text: #fff;
$color-text-grey: rgb(153, 150, 150);
$color-heading: #d9d9d9;
$color-blue: rgb(29, 161, 242);
$color-blue-light: rgb(128, 195, 246);

$color-background: rgb(5, 5, 5);
$color-background-medium: rgb(21, 24, 28);
$color-background-light: rgb(58, 58, 58);
